@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

*, *::after, *::before {
    font-family: 'Inconsolata', monospace;
}

body {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    padding: 3vw;
}

.container {
    display: flex;
    width: 90vw;
}

/* for the first image I wanted an unsplash image*/
.panel:nth-of-type(1) {
    background-image: url('https://images.unsplash.com/photo-1608139478418-5805c4c63188?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=675&q=80');
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    transition: flex .7s ease-in;
    /* centering the titles */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.panel h3 {
    font-size: 25px;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
}

/* if screen is smaller than 480px then apply those styles */
@media(max-width: 500px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }
}